<%= form_for(@inscrito) do |f| %>
  <% if @inscrito.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inscrito.errors.count, "error") %> prohibited this inscrito from being saved:</h2>

      <ul>
      <% @inscrito.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :sexo %><br>
    <%= f.text_field :sexo %>
  </div>
  <div class="field">
    <%= f.label :nascimento %><br>
    <%= f.date_select :nascimento %>
  </div>
  <div class="field">
    <%= f.label :cpf %><br>
    <%= f.text_field :cpf %>
  </div>
  <div class="field">
    <%= f.label :equipe %><br>
    <%= f.text_field :equipe %>
  </div>
  <div class="field">
    <%= f.label :modalidade %><br>
    <%= f.text_field :modalidade %>
  </div>
  <div class="field">
    <%= f.label :termo_responsabilidade %><br>
    <%= f.check_box :termo_responsabilidade %>
  </div>
  <div class="field">
    <%= f.label :camiseta %><br>
    <%= f.text_field :camiseta %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
